//text-font-size
$text-fz-xs: 12px;
$text-fz-sm: 14px;
$text-fz-md:16px;
$text-fz-xl:18px;
$text-fz-2xl:20px;
$text-fz-2xxl:24px;
$text-fz-3xl:30px;
$text-fz-4xl:40px;
$text-fz-5xl:50px;
$text-fz-6xl:60px;
//text-font-weigth
$text-fw-light: 300;
$text-fw-regular: 400;
$text-fw-semibold: 600;
$text-fw-bold: 700;

// text-font-family
$text-ff-roboto: 'Roboto', sans-serif;
// box shadow
$button-shadow:0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
//text-color:
$text-color-primary: #000000;
$text-color-2nd: #cbc9c9;
$text-color-3nd: #ffffff;
$text-color-4th: #1ed90e;
$text-color-5th: #fc0303;
$text-color-6th: #140101;
$text-color-7th: #1e1d1d;
$text-color-8th: #fff8f8;
$text-color-9th: rgba(21, 42, 235, 0.8);
$text-color-10th: #DD2AED;
$text-color-11th: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #CB0DC3 0%, #7D0DB1 100%);
$text-color-12th: #F50E0E;
$text-color-13th: #FB0B0B;
//background-color
$bg-primary: #f5f5f5;
$bg-2nd: #000000;
$bg-3nd: #f6b653;
$bg-4th: #f8f8f8;
$bg-5th: #ae18e2;
$bg-6th: #e1b067;
$bg-7th: #dedddc;
$bg-8th: #cccccc;
$bg-9th: linear-gradient(180deg, #F21299 0%, #1B02B5 100%);
$bg-10th: #9DE167;
$bg-11th: #6200EE;
$bg-12th: #EB5757;
$bg-13th: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
$bg-14th: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
$bg-15th:#d9d9d9;
$bg-16th:#F2994A;
//
$XS: 576px;
$SM: 768px;
$MD: 992px;
$XL: 1200px;