@import '../../fonts';
@import '../../mixins';
@import '../../variables';


.header{
   
    width: 100%;
    
    .container{

        .item{
            
            .join{
                
                transition: all .3s;
                
            }
        }






    }









}
.anticon-search{
    vertical-align: auto !important;
    line-height: 2 !important;
}