@import '../../fonts';
@import '../../mixins';
@import '../../variables';



.TypeJob{
    .banner{
        background-image: url(../../../img/graphics-design-desktop.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        svg{
            display: block;
            margin-right: 5px;
        }
    }
    .content{
        .item{
            display: flex !important;
           
        }
    }


}
.anticon svg{
    display: block;
    margin-top: 5px;
}

.slick-prev:before, .slick-next:before{
    color: gray;
}